<div class="col pt-3">
    <fieldset>
        <form id="burger_request" method="POST" action="/addburger">
            <div class="form-group form-row mb-0 pt-2">
                <label for="burger_ingredients" class="col">
                    <p>What do you want on your burger?</p>
                    <span class="col">
                        <input type="text" class="form-control w-100" name="burger_name" id="burger_ingredients" placeholder="e.g. Chicken Club with Mayo" required />
                    </span>
                </label>
            </div>
            <div class="form-group form-row">
                <button type="submit" class="btn btn-primary">Request Burger</button>
            </div>
        </form>
    </fieldset>
</div>